#nota{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 36, 36);
}
#btnfoot{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    right: 50px;
    /* margin-left: auto; */
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(46, 153, 219);
    color: white;
    cursor: pointer;
}
#notafoot{
    width: 100%;
    text-align: center;
    color: rgb(230, 228, 228);
    font-size: small;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 10px;
}
#links{
    padding: 2%;
    background-color: rgb(66, 65, 65);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.titulofoot{
    text-align: left;
    color: white;
    font-weight: lighter;
}
.listafoot{
    padding-left: 0;
}
.listafoot > li{
    list-style: none;
    padding: 2px;
}
.listafoot > li a{
    text-decoration: none;
    color: rgb(156, 156, 156);
    font-size: small;
}
.parafoot{
    color: rgb(156, 156, 156);
    font-size: small;
}
.listafoot > li a:hover{
    color: rgb(16, 136, 216);;
}
.letrita{
    font-size: smaller;
}

.foo-row{
    display: flex;
    justify-content: space-between;
}

.foo-row .foo-col{
    width: 50%;
}

.foo-row .foo-col:last-child{
    margin-left: 50px;
}

.foo-row .foo-col:first-child{
    margin-right: 50px;
}

.foo-row .foo-col h2{
    color: #E3E3E3;
    line-height: 40px;

    font-size: 33px;
    font-weight: 500;
    margin-bottom: 20px;
}

form .f-input{
    width: 100%;
    position: relative;
}

form .f-input input{
    width: 100%;
    display: block;
    padding: 16px 30px;
    background: #2C2B2B;
    border: none;
    padding-right: 50px;
    font-size: 15px;
    border-radius: 25px;
    outline: 0;
    color: #A7A1A1;
}

form .f-input .hm-btn-round{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border: none;
    font-size: 18px;margin-right: 3px;
    cursor: pointer;
}

.hm-btn{
    display: inline-block;
    position: relative;
    padding: 12px 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    outline: 0;

}

.btn-primary{
    background: var(--color-principal);
    color: #fff;
    border-radius: 25px;
    text-align: center;
}

.btn-primary:hover{
    background: var(--color-primary-hover);
}