.head{
    background-color: rgba(199, 27, 27, 0.815);
}
#logo{
    margin: 20px;
}
#menu{
    display: flex;
    align-items: flex-end;
    height: 70px;
    width: 100%;
    color: white;
}
#enlaces > li{
    /* font-weight: bold; */
    font-size: small;
    list-style: none;
    float: left;
    margin: 20px;
}
#enlaces > li a{
    margin-top: 15px;
    display: block;
    font-size: larger;
    text-decoration: none;
    color: white;
}
#enlaces > li a:hover{
    color: aquamarine;
}