body{
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 0.9em;
}

#banner{
    margin-top: 30px;
    width: 100%;
    z-index: 99;
}

/* Separador */

.separ{
    height: 1px;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #9b9c9c91;
}

/* Carrusel */

#myCarousel{
    margin: 0 auto;
    width: 80%;
}

#myCarousel:hover{
    cursor: pointer;
}

/* Titulos */

.header-title{
    margin-top: 3%;
    /* margin-bottom: 50px; */
}

.header-title h1{
    color: #444A47;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 16px;
}

.header-title h1::after{
    content: '';
    width: 76px;
    height: 5px;
    background: rgb(199, 27, 27);;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 3px;

}

/* Categorias */

.cartas{
    display: flex;
    justify-content: space-around;
}

.img_cat{
    height: 200px;
    width: 150px;
    margin: 0 auto;
}

.card{
    width: 250px;
    margin: 0 auto;
    border-width: 0;
}

.card:hover{
    border-width: 1px;
    cursor: pointer;
}

.foot_cat{
    border-width: 0;
    text-align: center;
    background: white;
}

/* Animacion Zoom */
.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Buscador de articulos */
#input-search {
	height: 40px;
	width: 200px;
	line-height: 40px;
	padding: 0 20px;
	border: 0px;
	border-bottom: 2px solid rgb(238, 62, 62);
	background-color: transparent;
	position: relative;
}

.input-category-container {
	margin-top: 15px;
	justify-content: flex-start;
	align-items: flex-start;
}
.input-category {
	justify-content: flex-start;
	margin-top: 10px;
	cursor: pointer;
}

.checkboxes-container {
	margin-top: 20px;
}

.in-line-product {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
.in-line-product .product-img-container {
	min-width: 250px;
}


/* FILTROS */
aside {
	padding: 15px;
	
}
.filters-container {
	align-items: flex-start;
	justify-content: flex-start;
}
.filters-heading-container {
	justify-content: space-between;
}
.filters-title {
	font-size: 18px;
}
.filters-search-container {
	margin-top: 15px;
	margin-bottom: 15px;
}
.filters-review-container {
	margin-top: 30px;
}
.filter {
	margin: 0px 10px;
}
.filters-review {
	color: rgb(221, 30, 30);
}



.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
    
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .texto-item{
    display: block;
    text-align: center;
    font-size: 15px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color:rgb(199, 27, 27);;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.selector-cantidad{
    display: inline-block;
    margin-left: 25px;
}
.carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;    
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
    .filters-review {
		margin: 5px;
	}
    .view-buttons-container {
		display: none;
	}
	.close-filters-btn,
	.open-filters-btn {
		display: flex;
	}
    #input-search,
	.filters-review,
	.clear-btn {
		color: white;
	}
  }