body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.prove_butt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;    
}

.prove_butt button:first-child {
    margin-right: 10px; 
}

.prove_butt button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prove_butt input {
    margin-left: auto;
}






/* squere animation*/
/* @keyframes square-out-center {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(100% 100% 100% 100%);
    }
  }

  [transition-style="out:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-out-center both;
  } */